<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
    <demo5></demo5>
</div>
</body>

<script>
    Vue.component(
           demo5   ,
        {
            template:    <h3>{{AllMsg.TextMsg[0].HeadLine}}</h3>
                       <p style="margin-top: 20%">{{AllMsg.TextMsg[0].TextContent}}</p>   ,
            data(){
                return {
                    AllMsg:{
                        TextMsg:[
                            {
                                HeadLine:   标题   ,//大字标题
                                TextContent:   两款发动机拉开圣诞节分厘卡士大夫美丽的   ,//文本内容
                                Iconograph:      ,//插图
                            }
                        ],

                    }
                }
            },
            methods: {
                textone() {
                    this.text.push(   111   );

                },
                handleClick(tab, event) {
                    console.log(tab, event);
                    this.text.push(   111   );
                    console.log(this.text[0]);
                },
                mounted(){

                    let that=this;
                    let url=      ;
                    that.$axios.get(url, {}).then(function (response) {

                        /*   for (let j in response.data)
                          {
                              console.log(response.data[j]);
                          }
                          that.data().Allofdatae.TextMessage=response.data;
                           for (let j in response.data) {
                               that.alltablename.names.push(
                                    {
                                        value:response.data[j].tablename,
                                        label: `${response.data[j].tablename}`,
                                        key: Date.now()
                                    }
                                );
                            }*/

                    }).catch(function (error) {
                        console.log(error);
                    });
                }
            },
        }
    );
</script>
<style>

</style>
<script>
    new Vue({
        el:    #app   ,
    })
</script>
</html>